<ul>
  <li><a href="default.asp">DAN CARLIN</a></li>
  <li><a href="news.asp">Hardcore History</a></li>
  <li><a href="contact.asp">HH Addendum</a></li>
  <li><a href="about.asp">Common Sense</a></li>
  <li><a href="about.asp">Donate</a></li>
  <li><a href="about.asp">Merchandise</a></li>
  <li><a href="about.asp">Sign Up</a></li>
  <li><a href="about.asp">Log In</a></li>
  <li ><a href="about.asp"></a></li>
</ul>


<img class='image_1-class' src="https://www.dancarlin.com/wp-content/uploads/2014/03/dc-homepage-cover-img.jpg">

<h1> Thinking Outside
   Pandora’s Box </h1>

   <img class='image_2-class' src="https://www.dancarlin.com/wp-content/uploads/2014/03/Dan-Carlin4.jpg">
